name: flutter_cotacoes
description: App Flutter para cadastrar cotações no MySQL local (XAMPP)
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.2

